<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img src="../../assets/perfil.png" alt="Erick Sebastian Caiza Quishpe"></ion-img>
  <ion-button href="https://github.com/ericksebastian2003/prueba_bimestre1" color:"red">Ir al repositorio</ion-button>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
