<style>
  
</style>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calcular días
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-label>Seleccione una fecha</ion-label>
<ion-datetime presentation="date" display-format="YYYY-MM-DD" [(ngModel)]="date_one" (ionChange)="calculateDays()"></ion-datetime>

<ion-label>Seleccione otra  fecha</ion-label>
<ion-datetime display-format="YYYY-MM-DD" [(ngModel)]="date_two" (ionChange)="calculateDays()" presentation="date"></ion-datetime>


<ion-item *ngIf="differenceInDays !==null">
  <ion-label>Dias de diferencias : {{differenceInDays}}</ion-label>
</ion-item>
</ion-content>